@model IEnumerable<BBShop.Model.Admin.AdminList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminID })
        </td>
    </tr>
}

</table>
